:root {
    --margin-sides:1rem;
    --margin01-middle-side:6rem;
    --margin01-middle:8rem;
    --WikiBlueColor:#337edb;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
}
body{
    font-size: 1.6rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#main-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-logo-img {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Wikipedia_wordmark.svg/2000px-Wikipedia_wordmark.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20rem;
    height: 5.5rem;
    margin-top: 3rem;
}
.main-logo-slogan {
    position: relative;
    top: -0.5rem;
    font-size: 1.5rem;
}


.Main-Content-Logo {
    position:absolute;
    top:20rem;
}

#main-content {
    /* position: absolute; */
    /* top:13rem; */
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}
#main-content .main-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 6rem;
}
#main-content .main-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 6rem;
}
#main-content .main-content-left div,.main-content-right div {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 1rem;

    /* border: 0.1rem solid black; */
}
#main-content .main-content-left div strong, .main-content-right div strong {
    color: var(--WikiBlueColor);
    font-size: 1.7rem;
}
#main-content .main-content-left div small, .main-content-right div small {
    color: #54595d;
    font-size: 1.3rem;
}

#main-content .main-content-left .c1 {
    margin-right: var(--margin-sides);
}
#main-content .main-content-left .c2 {
    margin-right: var(--margin01-middle-side);
}
#main-content .main-content-left .c3 {
    margin-right: var(--margin01-middle);
}
#main-content .main-content-left .c4 {
    margin-right: var(--margin01-middle-side);
}
#main-content .main-content-left .c5 {
    margin-right: var(--margin-sides);
}

#main-content .main-content-right .c6 {
    margin-left: var(--margin-sides);
}
#main-content .main-content-right .c7 {
    margin-left: var(--margin01-middle-side);
}
#main-content .main-content-right .c8 {
    margin-left: var(--margin01-middle);
}
#main-content .main-content-right .c9 {
    margin-left: var(--margin01-middle-side);
}
#main-content .main-content-right .c10 {
    margin-left: var(--margin-sides);
}




#search-bar {
    margin: 1.5rem;
    height: 4.5rem;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    border:0.1rem solid #54595d;
}
#search-bar:hover {
    border-color: black;
}
 #search-bar .search-bar-input {
     width: 40rem;
     height: 4rem;
     outline: none;
     font-size:2rem ;
     border-right: none;
     border-style: none;
     margin: 1rem;
 }
 #search-bar .search-bar-lang {
    width: 5rem;
    margin:0.5rem;
}
#search-bar .search-bar-lang:hover {
    background-color: #f7f7f7;
}
#search-bar .search-bar-icon {
    height: 4.5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #36c;
    color:white;
    border-radius: 0 0.5rem 0.5rem 0 ;
    border: 0.1rem solid green ;
}
#search-bar .search-bar-icon:hover {
    opacity: 0.9;
    cursor: pointer;
}




#read-combo {
    margin: 1.5rem;
    margin-bottom: 3.5rem;
    height: 3.5rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    border: 0.1rem solid #bdc0c3;
    background-color: #f9fafb;

}
#read-combo .read-combo-main-text {
    margin: auto 1rem;
}





hr {
    width: 97%;
    /* border:0.1rem solid #54595d; */
    border-top:0.1rem solid #bdc0c3;
    
}

/* footer {
    position:relative;
    bottom: 0;
} */

#footer-main-group {
    display: flex;
    justify-content: space-around;   
    flex-wrap:wrap; 
}

#footer-main-group-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
    width: 40rem;
}

#footer-main-group-info-descarga footer {
    display: flex;
    justify-content: center;    
}

#footer-main-group-info-fundation,#footer-main-group-info-descarga {
    font-weight: 300;
    font-size: 1.4rem;
    padding: 3rem;
}

/* #footer-main-group-info-descarga{
    font-size: 1.4rem;
    padding: 3rem;
} */
.download-button{
    background-color: black;
    color: white;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10%;
}

.download-button-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.download-button.google-play-button.download-button-info small{
    font-size: 0.6rem;
}
.download-button.google-play-button.download-button-info strong{
    font-size: 1.6rem;
}

.download-button.app-store-button.download-button-info small{
    font-size: 1rem;
}
.download-button.app-store-button.download-button-info strong{
    font-size: 1.6rem;
}

#footer-main-group-projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 70%; */
}
.footer-main-group-projects-item {
    height: 7.5rem;
    vertical-align: middle;
    display: flex;
}
.footer-main-group-projects-item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;    
    width: 25rem
}

.footer-main-group-projects-item a span {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 1rem;
    width: 4.7rem;
    height: 4.7rem;
}

.Commons {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4a/Commons-logo.svg');
}
.Wikilibros {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikibooks-logo.svg/1200px-Wikibooks-logo.svg.png');
}
.Wikiversidad {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Wikiversity_logo_2017.svg/1200px-Wikiversity_logo_2017.svg.png');
}
.Wikisource {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/1200px-Wikisource-logo.svg.png');
}
.Wikiviajes {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Wikivoyage-Logo-v3-icon.svg/1024px-Wikivoyage-Logo-v3-icon.svg.png');
}
.Wikinoticias {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Wikinews-logo.svg/1200px-Wikinews-logo.svg.png');
}
.Wikiquote {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Notification-icon-Wikiquote.svg/1200px-Notification-icon-Wikiquote.svg.png');
}
.Wikispecies {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikispecies-logo.svg/1200px-Wikispecies-logo.svg.png');
}
.Wikcionario {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Wiktfavicon_en.svg/1024px-Wiktfavicon_en.svg.png');
}
.Wikidata {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Notification-icon-Wikidata-logo.svg/1200px-Notification-icon-Wikidata-logo.svg.png');
}
.MediaWiki {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Notification-icon-MediaWiki-logo.svg/1200px-Notification-icon-MediaWiki-logo.svg.png');
}
.Meta-Wiki {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Meta-Wiki_Proposed_logo.svg/1200px-Meta-Wiki_Proposed_logo.svg.png');
}




.footer-main-group-projects-item a section {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: flex-start;
    width: 20rem;
    margin-right: 1rem;
}
.footer-main-group-projects-item a section h1 {
    font-size: 1.4rem;
    color: #36c;
    
}
.footer-main-group-projects-item a section p {
    font-size: 1.3rem;
    color: #54595d;
}





#footer-license-group {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-license-group ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#footer-license-group ul a {
    margin: 1rem;
    
}